html,
body {
  width: 100%;
}

#box {
  width: 100%;
}

#box .header {
  width: 100%;
  height: 40px;
  background: #333;
  display: flex;
}

#box .header .header-left {
  display: flex;
  width: 800px;
  margin-left: 57px;
}

#box .header .header-left li {
  border-right: 1px solid #424242;
  padding: 0px 5px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  margin-top: 13px;
  display: block;
}

#box .header .header-left li a {
  color: #b0b0b0;
  font-size: 14px;
}

#box .header .header-left li .sanjiao {
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ccc;
  position: absolute;
  top: 7px;
  left: 21px;
  display: none;
}

#box .header .header-left li .dowpng {
  display: block;
  width: 120px;
  height: 0;
  background: #ccc;
  position: absolute;
  left: -26px;
  top: 27px;
  display: none;
  transition: height .3s;
  z-index: 999;
}

#box .header .header-left li .dowpng img {
  display: inline-block;
  width: 90px;
  padding-top: 12px;
  z-index: 999;
}

#box .header .header-left li:hover a {
  color: #fff;
}

#box .header .header-left li:nth-child(11) {
  position: relative;
}

#box .header .header-left li:nth-child(11):hover .dowpng {
  display: block;
  height: 120px;
  z-index: 999;
}

#box .header .header-left li:nth-child(11):hover .sanjiao {
  display: block;
}

#box .header .header-left li:last-child {
  border-right: none;
}

#box .header .header-right {
  display: flex;
  margin-left: 120px;
}

#box .header .header-right .usnam {
  cursor: pointer;
  font-size: 14px;
  float: left;
  margin-top: 10px;
  color: #b0b0b0;
  z-index: 888;
}

#box .header .header-right .usnam span {
  display: block;
  height: 14px;
}

#box .header .header-right .usnam:hover {
  color: #fff;
}

#box .header .header-right .my_goods {
  cursor: pointer;
  font-size: 14px;
  float: left;
  margin-left: 5px;
  margin-top: 11px;
  color: #b0b0b0;
  z-index: 888;
}

#box .header .header-right .my_goods span {
  display: block;
  height: 14px;
}

#box .header .header-right .my_goods:hover {
  color: #fff;
}

#box .header .header-right .cart_add {
  background: #424242;
  height: 100%;
  margin-top: 0;
  margin-left: 20px;
}

#box .header .header-right .actCart {
  background: #ff6700;
  color: #fff;
}

#box .header .header-right li {
  cursor: pointer;
  float: left;
  height: 14px;
  display: block;
  line-height: 14px;
  text-align: center;
  padding: 0px 8px;
  margin-top: 13px;
}

#box .header .header-right li span {
  color: #b0b0b0;
  font-size: 14px;
}

#box .header .header-right li a {
  color: #b0b0b0;
  font-size: 14px;
}

#box .header .header-right li:hover a {
  color: #fff;
}

#box .header .header-right li:hover span {
  color: #fff;
}

#box .header .header-right li:last-child {
  border-right: none;
}

#box .content {
  width: 1230px;
  margin: auto;
  background: #fff;
}

#box .content .main {
  flex: 1;
  width: 100%;
  background: #fff;
}

#box .content .main .main-top {
  height: 100px;
  width: 100%;
  background: #fff;
}

#box .content .main .main-top .logo {
  float: left;
  margin-top: 22px;
}

#box .content .main .main-top .logo a {
  display: block;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  overflow: hidden;
  background-position: -46px 2px;
  position: relative;
  transition: all .2s;
  background-image: url(../img/logo_home.png);
}

#box .content .main .main-top .logo a:hover {
  background-position: 3px 2px;
}

#box .content .main .main-top .main-top-nav {
  margin-left: 65px;
  height: 100%;
  line-height: 100px;
  float: left;
  display: flex;
}

#box .content .main .main-top .main-top-nav a {
  color: #333 !important;
}

#box .content .main .main-top .main-top-nav li:hover .down_list {
  height: 230px;
  transition: all .2s;
  display: block;
  z-index: 999;
}

#box .content .main .main-top .main-top-nav .down_list {
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top: 133px;
  border-top: 2px solid #ccc;
  background: #fff;
  z-index: -2;
  box-sizing: border-box;
  display: none;
}

#box .content .main .main-top .main-top-nav .down_list .list_1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 60px;
  box-sizing: border-box;
}

#box .content .main .main-top .main-top-nav .down_list .list_1 li {
  width: 204px;
  padding-top: 39px;
  border-right: 1px solid #ccc;
  margin: 0 auto;
  text-align: center;
  line-height: 0 !important;
  color: #333;
}

#box .content .main .main-top .main-top-nav .down_list .list_1 li img {
  display: block;
  margin: 0 auto;
}

#box .content .main .main-top .main-top-nav .down_list .list_1 li span {
  font-size: 11px;
  margin-top: 20px;
  display: block;
}

#box .content .main .main-top .main-top-nav .down_list .list_1 li span:nth-child(2) {
  margin-top: 30px;
}

#box .content .main .main-top .main-top-nav .down_list .list_1 li span:nth-child(3) {
  color: #ff6700;
}

#box .content .main .main-top .main-top-nav a {
  float: left;
  display: block;
  margin-right: 20px;
  color: #002200;
}

#box .content .main .main-top .main-top-nav a:hover {
  color: #ff6700;
}

#box .content .main .main-top .input:hover {
  border: 1px solid #ccc;
}

#box .content .main .main-top .input {
  margin-left: 75px;
  float: left;
  width: 292px;
  height: 48px;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
  box-sizing: border-box;
}

#box .content .main .main-top .input .input-left {
  width: 234px;
  height: 100%;
  float: left;
  position: relative;
  box-sizing: border-box;
}

#box .content .main .main-top .input .input-left input {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 5px;
}

#box .content .main .main-top .input .input-left span:hover {
  background: #ff6700;
  color: #fff;
}

#box .content .main .main-top .input .input-left span {
  position: absolute;
  display: block;
  background: #ccc;
  color: #757575;
  height: 18px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  left: 135px;
  top: 16px;
  padding: 0 2px;
}

#box .content .main .main-top .input .input-left span:nth-child(2) {
  position: absolute;
  left: 180px;
}

#box .content .main .main-top .input .icon-Search {
  display: block;
  float: right;
  width: 50px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ccc;
  color: #ccc;
  font-size: 26px;
  text-align: center;
  line-height: 46px;
}

#box .content .main .main-top .input .icon-Search:hover {
  background: #ff6700;
}

#box .main1 {
  z-index: 88;
  background: #fff;
}

#box .main1 .main1_list_top {
  border-top: 1px solid #ccc;
  height: 63px;
  display: flex;
  padding-left: 70px;
  box-shadow: 0px 2px 2px 0px #ccc;
  line-height: 63px;
}

#box .main1 .main1_list_top span {
  font-size: 13px;
  color: #616161;
  margin-left: 850px;
}

#box .fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#box .main2 {
  width: 100%;
  z-index: 9;
}

#box .main2 .main2_cont {
  width: 1224px;
  height: 810px;
  padding-top: 32px;
  margin: auto;
}

#box .main2 .main2_cont .cont_left_img {
  width: 560px;
  height: 560px;
  float: left;
  z-index: 0;
}

#box .main2 .main2_cont .cont_left_img .big_img {
  width: 560px;
  height: 560px;
  overflow: hidden;
  z-index: 0;
}

#box .main2 .main2_cont .cont_left_img .big_img img {
  position: absolute;
  float: left;
  width: 560px;
  height: 560px;
  display: block;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .active {
  background: #ff6700;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .line {
  display: flex;
  margin-left: 200px;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .line span {
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 2px;
  background: #959595;
  text-align: center;
  line-height: 1px;
  overflow: hidden;
  font-size: 1px;
  cursor: pointer;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .line .active {
  background: #ff6700;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .btn_left_right {
  position: absolute;
  top: 470px;
  z-index: 555;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .btn_left_right .prev {
  position: absolute;
  left: 50px;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .btn_left_right .prev i {
  display: block;
  font-size: 25px;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .btn_left_right .next {
  position: absolute;
  left: 500px;
  display: block;
}

#box .main2 .main2_cont .cont_left_img .cont_left_direct .btn_left_right .next i {
  display: block;
  font-size: 28px;
}

#box .main2 .main2_cont .cont_right {
  float: right;
}

#box .main2 .main2_cont .cont_right .title {
  font-size: 24px;
  font-weight: normal;
  color: #212121;
}

#box .main2 .main2_cont .cont_right .inf {
  font-size: 13px;
  color: #b0b0b0;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

#box .main2 .main2_cont .cont_right .prices {
  font-size: 12px;
  color: #ff6700;
}

#box .main2 .main2_cont .cont_right .prices span {
  display: block;
  margin: 15px 0;
}

#box .main2 .main2_cont .cont_right .prices .price {
  font-size: 15px;
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #ff6700;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0 20px;
}

#box .main2 .main2_cont .cont_right .adder {
  width: 600px;
  height: 102px;
  background: #fafafa;
  border: 1px solid #e0e0e0;
  padding-left: 50px;
  margin: 40px 0;
  font-size: 13px;
}

#box .main2 .main2_cont .cont_right .adder .addera {
  padding: 34px 0;
}

#box .main2 .main2_cont .cont_right .adder .addera .address {
  font-size: 13px;
  float: left;
}

#box .main2 .main2_cont .cont_right .adder .addera .address i {
  display: block;
  float: left;
  font-size: 15px;
  margin-right: 10px;
}

#box .main2 .main2_cont .cont_right .adder .addera .address span {
  float: left;
  color: #333;
  display: block;
  margin-left: 0px;
}

#box .main2 .main2_cont .cont_right .adder .addera span {
  float: left;
  color: #ff6700;
  cursor: pointer;
  display: block;
  margin-right: 16px;
}

#box .main2 .main2_cont .cont_right .adder .addera p {
  margin-top: 2px;
  color: #ff6700;
}

#box .main2 .main2_cont .cont_right .color h4 {
  font-size: 18px;
}

#box .main2 .main2_cont .cont_right .color .color_w {
  display: block;
  width: 298px;
  height: 42px;
  border: 1px solid #ff6700;
  background: #fff;
  color: #ff6700;
  text-align: center;
  line-height: 42px;
  margin-top: 15px;
}

#box .main2 .main2_cont .cont_right .color .color_w img {
  width: 16px;
  height: 16px;
}

#box .main2 .main2_cont .cont_right .color .color_w span {
  margin-left: 5px;
}

#box .main2 .main2_cont .cont_right .color .color_w:hover {
  background: #ff6700;
  color: #fff;
}

#box .main2 .main2_cont .cont_right .sum {
  width: 607px;
  height: 140px;
  background: #f9f9fa;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#box .main2 .main2_cont .cont_right .sum p {
  font-size: 14px;
  color: #616161;
  margin: 38px 0;
}

#box .main2 .main2_cont .cont_right .sum p span {
  font-size: 14px;
  color: #616161;
  margin-left: 300px;
}

#box .main2 .main2_cont .cont_right .sum span {
  font-size: 24px;
  color: #ff6700;
}

#box .main2 .main2_cont .cont_right .cart {
  margin-top: 33px;
  display: flex;
}

#box .main2 .main2_cont .cont_right .cart .add_cart {
  display: block;
  width: 300px;
  height: 55px;
  background: #fff;
  color: #ff6700;
  text-align: center;
  line-height: 55px;
  border: 1px solid #ff6700;
}

#box .main2 .main2_cont .cont_right .cart .add_cart:hover {
  background: #ff6700;
  color: #fff;
}

#box .main2 .main2_cont .cont_right .cart .link {
  margin-left: 14px;
  display: block;
  width: 141px;
  height: 55px;
  background: #b0b0b0;
  color: #fff;
  text-align: center;
  line-height: 55px;
}

#box .main2 .main2_cont .cont_right .cart .link:hover {
  background: #757575;
}

#box .main2 .main2_cont .cont_right .cont_list {
  margin-top: 23px;
}

#box .main2 .main2_cont .cont_right .cont_list .list1 {
  display: flex;
}

#box .main2 .main2_cont .cont_right .cont_list .list1 li {
  font-size: 13px;
  color: #b0b0b0;
  margin-right: 20px;
}

#box .main2 .main2_cont .cont_right .cont_list .list1 li i {
  font-size: 16px;
}

#box .bottom {
  width: 100%;
  background: #f5f5f5;
}

#box .bottom .footer {
  width: 1250px;
  height: 284px;
  background: #f5f5f5;
  margin-top: 40px;
  margin: auto;
}

#box .bottom .footer .footer-top {
  width: 100%;
  height: 25px;
  padding: 27px 0;
  border-bottom: 1px solid #ccc;
}

#box .bottom .footer .footer-top li {
  height: 25px;
  display: block;
  width: 245px;
  border-right: 1px solid #ccc;
  text-align: center;
  float: left;
  color: #757575;
}

#box .bottom .footer .footer-top li span {
  float: left;
  display: block;
  line-height: 25px;
  margin-left: 10px;
  line-height: 25px;
}

#box .bottom .footer .footer-top li i {
  float: left;
  line-height: 25px;
  display: block;
  font-size: 24px;
  margin-left: 20%;
}

#box .bottom .footer .footer-top li:nth-child(5) {
  border-right: none;
}

#box .bottom .footer .footer-top li:hover {
  color: #ff6700;
}

#box .bottom .footer .footer-bottom {
  height: 170px;
  width: 100%;
  display: flex;
}

#box .bottom .footer .footer-bottom .footer-bottom-left {
  width: 970px;
  display: flex;
  margin-top: 43px;
  justify-content: space-around;
}

#box .bottom .footer .footer-bottom .footer-bottom-left dl {
  width: 70px;
  height: 120px;
}

#box .bottom .footer .footer-bottom .footer-bottom-left dl dt {
  font-size: 14px;
  margin-bottom: 32px;
}

#box .bottom .footer .footer-bottom .footer-bottom-left dl dt a {
  color: #000;
}

#box .bottom .footer .footer-bottom .footer-bottom-left dl dd {
  margin-bottom: 15px;
  font-size: 12px;
}

#box .bottom .footer .footer-bottom .footer-bottom-left dl dd a {
  color: #959595;
}

#box .bottom .footer .footer-bottom .footer-bottom-left dl dd a:hover {
  color: #ff6700;
}

#box .bottom .footer .footer-bottom .footer-bottom-right {
  width: 245px;
  height: 112px;
  margin-top: 42px;
  border-left: 1px solid #ccc;
  text-align: center;
}

#box .bottom .footer .footer-bottom .footer-bottom-right p {
  font-size: 18px;
  color: #ff6700;
  margin-bottom: 10px;
}

#box .bottom .footer .footer-bottom .footer-bottom-right span {
  font-size: 12px;
  color: #616161;
}

#box .bottom .footer .footer-bottom .footer-bottom-right .lianxi {
  width: 119px;
  margin: 20px 0px 0px 65px;
  height: 28px;
  border: 1px solid #ff6700;
  text-align: center;
  color: #ff6700;
}

#box .bottom .footer .footer-bottom .footer-bottom-right .lianxi span {
  font-size: 12px;
  line-height: 28px;
  color: #ff6700;
}

#box .bottom .footer .footer-bottom .footer-bottom-right .lianxi:hover {
  background: #ff6700;
  color: #fff;
}

#box .bottom .footer .footer-bottom .footer-bottom-right .lianxi:hover span {
  background: #ff6700;
  color: #fff;
}

#box .box_footer {
  width: 100%;
  height: 200px;
  background: #fafafa;
}

#box .box_footer .box_footer_con {
  width: 1230px;
  height: 150px;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 11px;
  color: #757575;
}

#box .box_footer .box_footer_con a {
  float: left;
}

#box .box_footer .box_footer_con .footer-right {
  width: 1135px;
  margin-left: 73px;
}

#box .box_footer .box_footer_con .footer-right .footer_list {
  width: 100%;
  height: 13px;
}

#box .box_footer .box_footer_con .footer-right .footer_list li {
  float: left;
  height: 13px;
  border-right: 1px solid #757575;
  padding: 0 4px;
  cursor: pointer;
}

#box .box_footer .box_footer_con .footer-right .footer_list li a {
  font-size: 11px;
  color: #757575;
  line-height: 13px;
}

#box .box_footer .box_footer_con .footer-right .footer_list li:hover a {
  color: #ff6700;
}

#box .box_footer .box_footer_con .footer-right span {
  margin-top: 8px;
  margin-left: 2px;
}

#box .box_footer .box_footer_con .footer-right .foot_con {
  color: #b0b0b0;
}

#box .box_footer .box_footer_con .footer-right .foot_con span:hover {
  color: #ff6700;
}

#box .box_footer .box_footer_con .footer-right .list_img {
  margin-top: 8px;
}

#box .box_footer .box_footer_con .footer-right .list_img img {
  width: 85px;
  height: 28px;
}

#box .box_footer .logo_title {
  margin: 0 auto;
  height: 50px;
  text-align: center;
  margin-top: 8px;
}

#box .box_footer .logo_title span {
  font-size: 18px;
  line-height: 50px;
  color: #bebebe;
}
